#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h2{
  color:rgb(148, 12, 153);;
}
.botones{
  display: flex;
  gap: 1rem;
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background: #debef0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.inputs-container {
  display: flex;
  gap: 2rem;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}

.input__numero {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.resultado {
  margin-top: 1rem;
}

.input__numero:focus {
  outline: none;
  border-color: #880994;
  box-shadow: 0px 0px 8px rgba(136, 12, 167, 0.5);
}
